<template>
  <Head title="Blog" />

  <div
    class="
      relative
      flex
      items-top
      justify-center
      min-h-screen
      bg-gray-100
      dark:bg-gray-900
      sm:items-center
      sm:pt-0
    "
  >
    <div v-if="canLogin" class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
      <Link
        v-if="$page.props.auth.user"
        href="/dashboard"
        class="text-sm text-gray-700 underline"
      >
        Dashboard
      </Link>

      <template v-else>
        <Link :href="route('login')" class="text-sm text-gray-700 underline">
          Log in
        </Link>

        <Link
          v-if="canRegister"
          :href="route('register')"
          class="ml-4 text-sm text-gray-700 underline"
        >
          Register
        </Link>
      </template>
    </div>


    <div v-if="posts" class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8">
      <form @submit.prevent="submit" class="flex justify-start mb-2">
        <div >
          <BreezeLabel for="date" value="Filter by date" />
          <input
            type="date"
            name="date"
            v-model="form.date"
            id="date"
            class="
              border-gray-300
              focus:border-indigo-300
              focus:ring focus:ring-indigo-200 focus:ring-opacity-50
              rounded-md
              shadow-sm
              mt-1
              block
              w-50
            "
          />


        </div>
        <BreezeButton
            class="ml-4 py-0"
            :class="{ 'opacity-25': form.processing }"
            :disabled="form.processing"
          >
            Search
          </BreezeButton>
      </form>

      <div
        class="
          grid
          space-x-1 space-y-1
          xl:grid-cols-4
          lg:grid-cols-4
          md:grid-cols-2
          sm:grid-cols-1
        "
      >
        <div
          v-for="item in posts.data"
          :key="item.id"
          class="px-4 py-4 bg-white border-2 rounded min-w-6"
        >
          <div class="text-xl font-medium text-black">
            {{ item.title }} <span class="text-sm italic">[{{ item.created_at }}]</span>
          </div>
          <p class="text-gray-500">{{ item.description }}</p>
        </div>
      </div>

      <div class="flex justify-center">
        <pagination class="mt-6" :links="posts.links" />
      </div>
    </div>
  </div>
</template>


<script>
import { Head, Link } from "@inertiajs/inertia-vue3";
import Pagination from "@/Components/Pagination.vue";
import BreezeLabel from "@/Components/Label.vue";
import BreezeButton from "@/Components/Button.vue";

export default {
  components: {
    Head,
    Link,
    Pagination,
    BreezeLabel,
    BreezeButton,
  },
  props: {
    canLogin: Boolean,
    canRegister: Boolean,
    posts: Object,
    date: String,
  },
  data() {
    return {
      form: this.$inertia.form({
        date: "",
      }),
    };
  },
  mounted() {
      if (this.date) {
        this.form.date = this.date
      }
  },
  methods: {
    submit() {
      this.form.get(this.route("welcome"), {
        onFinish: () => this.form.reset("date"),
      });
    },
  },
};
</script>
<style lang="scss">
</style>
