<template>
  <Head title="Posts" />

  <BreezeAuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Posts</h2>
    </template>

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div
        class="
          mt-6
          flex flex-col
          sm:justify-center
          items-center
          sm:pt-0
          bg-gray-100
        "
      >
        <div
          class="
            w-full
            sm:max-w-md
            px-6
            py-4
            bg-white
            shadow-md
            overflow-hidden
            sm:rounded-lg
          "
        >
          <BreezeValidationErrors class="mb-4" />

          <div class="bg-green-300 p-2 flex justify-center rounded mb-4" v-if="message">
            {{ message }}
          </div>

          <form @submit.prevent="submit">
            <div>
              <BreezeLabel for="title" value="Title" />
              <BreezeInput
                id="title"
                type="text"
                class="mt-1 block w-full"
                v-model="form.title"
                required
                autofocus
                autocomplete="Title"
              />
            </div>

            <div class="mt-4">
              <BreezeLabel for="description" value="Description" />
              <textarea
                name="description"
                id="description"
                class="
                  border-gray-300
                  focus:border-indigo-300
                  focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  rounded-md
                  shadow-sm
                  mt-1
                  block
                  w-full
                "
                v-model="form.description"
                required
                cols="30"
                rows="5"
              ></textarea>
            </div>

            <div class="flex items-center justify-end mt-4">
              <Link
                :href="route('dashboard/posts')"
                class="underline text-sm text-gray-600 hover:text-gray-900"
              >
                Cancel
              </Link>

              <BreezeButton
                class="ml-4"
                :class="{ 'opacity-25': form.processing }"
                :disabled="form.processing"
              >
                Save
              </BreezeButton>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="py-12 px-4 mx-auto"></div>
  </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import BreezeButton from "@/Components/Button.vue";
import BreezeInput from "@/Components/Input.vue";
import BreezeLabel from "@/Components/Label.vue";
import BreezeValidationErrors from "@/Components/ValidationErrors.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";

export default {
  components: {
    BreezeAuthenticatedLayout,
    BreezeButton,
    BreezeInput,
    BreezeLabel,
    BreezeValidationErrors,
    Head,
    Link,
  },
  props: {
    // message: String,
  },
  data() {
    return {
      form: this.$inertia.form({
        title: "",
        description: "",
      }),
      message: ''
    };
  },
  mounted() {
      this.form.reset("title", "description");
  },
  methods: {
    submit() {
      axios.post(this.route("dashboard/posts/store"), this.form).then(res => {
        this.form.reset("title", "description");
        this.message = res.data;
      });
    },
  },
};
</script>
<style lang="scss" scoped>
</style>
