<template>
  <Head title="Posts" />

  <BreezeAuthenticatedLayout>
    <template #header>
      <div class="flex justify-between">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">Posts</h2>
        <div>
          <Link
            href="/dashboard/posts/create"
            class="text-sm text-gray-700 underline"
          >
            Add Post
          </Link>
        </div>
      </div>
    </template>

    <div v-if="posts" class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div
        class="
          grid
          space-x-1 space-y-1
          xl:grid-cols-4
          lg:grid-cols-4
          md:grid-cols-2
          sm:grid-cols-1
        "
      >
        <div
          v-for="item in posts.data"
          :key="item.id"
          class="px-4 py-4 bg-white border-2 rounded"
        >
          <div class="text-xl font-medium text-black">
            {{ item.title }} <span class="text-sm italic">[{{ item.created_at }}]</span>
          </div>
          <p class="text-gray-500">{{ item.description }}</p>
        </div>
      </div>

      <div class="flex justify-center">
        <pagination class="mt-6" :links="posts.links" />
      </div>
    </div>

    <div class="py-12 px-4 mx-auto"></div>
  </BreezeAuthenticatedLayout>
</template>

<script>
import Pagination from "@/Components/Pagination";
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";

export default {
  components: {
    BreezeAuthenticatedLayout,
    Pagination,
    Head,
    Link,
  },
  props: {
    posts: Object,
  },
};
</script>
